
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.main__block {
  background: var(--grey-1);
  padding-bottom: 68px;
  --card-number: 1;
  --gap-number: calc(var(--card-number) - 1);
  --gap-size: 30px;
}

.main__block .main {
  background-color: transparent;
}

.main__block .main__container {
  gap: var(--gap-size);
}

.main__block .main__link {
  max-width: none;
  width: calc(100% / var(--card-number) - (var(--gap-size) * var(--gap-number)) / var(--card-number) );
  /* width: calc(100% / var(--card-number) - 20px); */
  /* 100% /3 - 60px / 3 */
  box-sizing: border-box;
}

.main__block .main__card  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 30px;
  height: 100%;
}

.main__block .main__card .card__body {
  min-height: 200px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main__block .main__card .card__footer {
  text-align: center;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.burger__mode + .burger__hr {
  margin-bottom: 1rem;
}


.header__wrapper .burger {
  left: 0;
  top: 0;
}

.header__title_margin {
  margin-bottom: 40px;
}

.header__icons {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.main__link:link {
  color: var(----black);
  text-decoration: none;
}

.main__link:visited {
  color: var(----black);
  text-decoration: none;
}

.main__link:hover {
  color: var(----black);
  text-decoration: none;
}

.main__link:active {
  color: var(----black);
  text-decoration: none;
}

.histogram_width-100 {
  width: 100%;
}

.card__footer {
  font-family: 'Roboto';
  font-style: normal;
}

.card__header {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer__block {
  padding: 25px;
}


.buttons__title, .customs__title, .skeleton__title_main,
.accordion__title, .modal__title_main {
  text-transform: uppercase;
  text-align: left;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 27px;
  color: rgb(172, 181, 189);
  line-height: 28px;
}

.button_adapt {
  display: inline-flex;
  justify-content: center;
  height: 3rem;
  font-size: 1rem;
  line-height: 1.2;
  padding: .875rem 1rem;
  border-radius: 0.5rem;

}

.buttons__block {
  display: grid;
grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: row;
    grid-gap: 0.5rem;
}


@media (min-width: 768px) {
  .buttons__block {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    grid-gap: 2rem;
    margin-bottom: 2rem; 
  }
  .button_invisible {
    width: 296px;
  }
}

@media (min-width: 992px) {
.customs__block {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1;
    grid-auto-flow: column;
    gap: 2rem;
  }
}


.customs__block {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: row;
    grid-gap: 3rem;
}

.skeleton__circle, .skeleton__line_name,
.skeleton__line, .skeleton__line_date {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: elementsMove;
  animation-timing-function: linear;
  background-image: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);
  background-size: 200%;
}

@keyframes elementsMove {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}


/* Vertical Tablet */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    }

  .main__block {
    --card-number: 2;
  }
}

/* Horizontal Tablet */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .header__wrapper {
    justify-content: space-between;
  }

  .burger, .burger__btn {
    display: none;
  }

  .header__icons {
    display: flex;
  }

  .main__block {
    --card-number: 3;
  }
}

/* Small PC */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.card__section {
  display: flex;
  flex-direction: row;
}

.customs {
  display: grid;
}

.customs__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  padding-bottom: 20px;
}

.input_success, .input_error, .input_flex {
  flex-basis: 50%;
  margin-bottom: 2rem;
}

.button_invisible {
  border-color: var(--grey-1); 
  background-color: var(--grey-1); 
  width: 344px;
}